
<div class="container">
    <h1>{{recipeInfo?.title}}</h1>
    <div>
        <i class="bi-alarm" style="font-size: 2rem; color: cornflowerblue;"></i>
    </div>
    <div>
        <img src={{recipeInfo?.image}} class="img-fluid" alt="...">
    </div>
    <div>
        <h5>Ingredients:</h5>
        <ul class="list-group">
            @for (ingredient of recipeInfo?.extendedIngredients; track $index) {
                <li class="list-group-item">{{ingredient.original}}</li>
            }
          </ul>
    </div>
</div>